<mat-nav-list>
    <a href="#" mat-list-item (click)="goToEdit($event)">
        <span mat-line>
            <i class="fa fa-pencil-square-o right toolbar-icon" aria-hidden="true"></i>
            Editar
        </span>
    </a>

    <a href="#" mat-list-item (click)="showDelete($event)">
        <span mat-line>
            <i class="fa fa-trash right toolbar-icon" aria-hidden="true"></i>
            Borrar
        </span>
    </a>

    <a href="#" mat-list-item (click)="goToMapPlace($event)">
        <span mat-line>
            <i class="fa fa-map right toolbar-icon" aria-hidden="true"></i>
            Ver mapa
        </span>
    </a>

    <a *ngIf="canShare" href="#" mat-list-item (click)="share($event)">
        <span mat-line>
            <i class="fa fa-share-alt right toolbar-icon" aria-hidden="true"></i>
            Compartir
        </span>
    </a>

</mat-nav-list>
