.mat-list-item {
    height: inherit !important;
}

.subtitle {
    font-weight: 500;
    font-size: 18px;
}

.title{
    font-weight: 500;
}

.wrapper-btn-register {
    padding: 10px;
}

.wrapper-btn-register a {
    margin: 0 !important;
}