<ng4-loading-spinner [loadingText]="'Cargando lista de regiones ...'"> </ng4-loading-spinner>

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Lista de regiones</span>
        <span class="spacer"></span>
        <a mdbWavesEffect routerLink="/profile" class="icon-white">
            <i class="fa fa-user-circle right toolbar-icon" aria-hidden="true"></i>
        </a>
    </mat-toolbar-row>
</mat-toolbar>

<main role="main" class="container container-fluid center">
    <mat-list>
        <mdb-card *ngFor="let region of regions" class="card card-image mb-3 center" (click)="goToPlace(region.id)">

            <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <img class="card-img" [src]="getPhoto(region.foto)" alt="Foto: region.nombre" />
            </div>

            <mdb-card-body>

                <mdb-card-title>
                    <h4>{{ region.nombre }}</h4>
                </mdb-card-title>

            </mdb-card-body>
        </mdb-card>

    </mat-list>

</main>
