<ng4-loading-spinner> </ng4-loading-spinner>

<div class="container wrapper-login">
    <div class="row center">
        <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="col">
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" formControlName="correo" id="defaultForm-email" class="form-control" mdbInputDirective>
                <label for="defaultForm-email">Correo</label>
                <span class="item-error" *ngIf="loginForm.hasError('required', ['correo']) && loginForm.controls.correo.invalid && loginForm.controls.correo.touched">
                    El correo es obligatorio
                </span>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" formControlName="password" id="defaultForm-pass" class="form-control" mdbInputDirective>
                <label for="defaultForm-pass">Contraseña</label>
                <span class="item-error" *ngIf="loginForm.hasError('required', ['password']) && loginForm.controls.password.invalid && loginForm.controls.password.touched">
                    La contraseña es obligatoria
                </span>
            </div>

            <div class="text-center">
                <button mdbWavesEffect [disabled]="loginForm.invalid" type="submit" mdbBtn color="danger" sclass="waves-light" mdbWavesEffect class="button-login">
                    <i class="fa fa-sign-in left" aria-hidden="true"></i>
                    Ingresar
                </button>
            </div>

            <div class="text-center">
                <button mdbWavesEffect type="button" mdbBtn color="danger" sclass="waves-light" mdbWavesEffect class="button-login" (click)="loginFacebook()">
                    <i class="fa fa-facebook left" aria-hidden="true"></i>
                    Facebook
                </button>
            </div>

            <div class="text-center">
                <button mdbWavesEffect type="button" mdbBtn color="danger" sclass="waves-light" mdbWavesEffect class="button-login" (click)="goToRegister()">
                    <i class="fa fa-user-plus left" aria-hidden="true"></i>
                    Registrarse
                </button>
            </div>
        </form>
    </div>
</div>
