<mat-toolbar color="primary">
    <mat-toolbar-row>
        <i class="fa fa-arrow-left left toolbar-icon" aria-hidden="true" routerLink="/regions"></i>
        <span>Mi perfil</span>
    </mat-toolbar-row>
</mat-toolbar>

<main role="main" class="container container-fluid">
    <button mdbBtn (click)="selectFile()" type="button" color="danger" class="float-right waves-light fab" mdbWavesEffect>
        <i class="fa fa-camera" aria-hidden="true"></i>
    </button>

    <div class="row">
        <mdb-card class="col-12 testimonial-card">
            <!--Bacground color-->
            <div class="card-up indigo lighten-1">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto">
                <img [src]="(user.foto) ? user.foto : 'assets/imgs/default-avatar.jpg'" class="rounded-circle">
            </div>

            <mdb-card-body>
                <!--Name-->
                <mdb-card-title>
                    <h4>{{user.nombre}}</h4>
                </mdb-card-title>
            </mdb-card-body>
        </mdb-card>
    </div>

    <div class="row pt-20 item-profile">
        <div class="col-2 icon-profile">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>

        <div class="col-6 col-md-4">
            <h2>{{ user.nombre }}</h2>
            <p>Nombre</p>
        </div>
    </div>

    <div class="row pt-20 item-profile">
        <div class="col-2 icon-profile">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>

        <div class="col-6 col-md-4">
            <h2>{{ user.email }}</h2>
            <p>Email</p>
        </div>
    </div>

    <div class="row pt-20 item-profile">
        <div class="col-2 icon-profile">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        </div>

        <div class="col-6 col-md-4">
            <h2>{{ user.id }}</h2>
            <p>Firebase uid</p>
        </div>
    </div>

    <div class="row pt-20">
        <div class="col">
            <button style="width: 97%;" mdbWavesEffect type="button" mdbBtn color="danger" class="waves-light" (click)="openCloseSesion()">
                <i class="fa fa-sign-out left" aria-hidden="true"></i>
                Cerrar sesión
            </button>
        </div>
    </div>


    <input id="file" type="file" accept="image/*" class="hidden" (change)="changeListener($event)">

</main>