/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~css-star-rating/scss/star-rating';

.item-error {
    color: #CC0000 !important;
}

.item-success {
    color: #00C851 !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.full-width {
    width: 100% !important;
}

.icon-white {
    color: white !important;
}

.hidden {
    display: none;
}

span.text-success, span.text-danger {
    display: none !important;
}

.nav-item {
    color: white;
}

.toolbar-icon {
    padding: 0 14px;
}

.spacer {
    flex: 1 1 auto;
}

.wrapper-empty {
    padding: 10px;

    .empty-text {
        font-size: 22px;
        font-weight: 500;
    }
}

.btnMap {
    z-index: 100;
    width: 100%;
}

.infoMarker {
    width: 215px !important;
    margin-left: 20px !important;
}

.wrapper-btnMap {
    margin: 0 !important;
}

.btn-no-margen {
    margin: 0 !important;
}
